/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.sass */
#userbox {
  margin: 0.5rem 0 1rem 0;
}

/* line 12, ../sass/screen.sass */
#chatbox {
  margin: 0.5rem 0 1rem 0;
}
/* line 16, ../sass/screen.sass */
#chatbox .message-box {
  padding: 10px 20px;
  margin: 0px;
}
/* line 22, ../sass/screen.sass */
#chatbox .message-box .message p {
  margin: 0px !important;
  -webkit-margin-before: 0px !important;
  -webkit-margin-after: 0px !important;
  -webkit-margin-start: 0px !important;
  -webkit-margin-end: 0px !important;
}
/* line 29, ../sass/screen.sass */
#chatbox .my-message {
  margin: 0px;
}
/* line 33, ../sass/screen.sass */
#chatbox .my-message .message p {
  text-align: right !important;
}
/* line 37, ../sass/screen.sass */
#chatbox #chat-messages {
  margin-bottom: 20px;
}
