@import "contacts"
@import "messages"


body

  // SIZES
  width: 100%
  height: 100%
  
  // COLORS
  background: $body-background-color

main

  // Spacing
  margin-left: auto
  margin-right: auto

  padding: $main-container-padding

  // Size
  min-width: $main-container-width
  width: $main-container-width
  max-width: $main-container-width

  min-height: 400px
  height: 500px
  max-height: 800px