<html ng-app="chatApp">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="qrc:/ui/css/3rdparty/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="qrc:/ui/css/stylesheets/screen.css"/>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="qrc:/ui/js/3rdparty/jquery-2.1.4.min.js"></script>
    <script src="qrc:/ui/css/3rdparty/materialize/js/materialize.min.js"></script>

    <script>
        jQuery(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            jQuery('.modal-trigger').leanModal();
        });
    </script>
</head>

<body ng-controller="ChatController as chat">
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>

<main>
    <div class="row">
        <div class="col s4">
            <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red modal-trigger">
                <i class="material-icons">add</i>
            </a>

            <div id="contacts" class="collection">
                <div class="contact-box" ng-repeat="contact in chat.contacts">
                    <a href="#!" class="collection-item"
                       ng-class="{active: contact.active}"
                       ng-click="chat.onContactChanged(contact)"
                            >{{ contact.username }}</a>
                </div>
            </div>

        </div>

        <div class="col s8">

            <!-- CHATTING -->
            <div id="chatbox">

                <div id="chat-messages">
                    <!-- MESSAGES ARE BEING ADDED HERE -->

                    <div class='message-box'
                         ng-repeat="message in chat.current_messages">

                        <div ng-class="message.message_classes">

                            <div ng-switch="message.message_type" class="message">

                                <div ng-switch-when="text">
                                    <p>{{ message.text() }}</p>
                                </div>

                                <div ng-switch-when="image">
                                    <img ng-src="{{ message.image() }}" alt="">
                                </div>

                                <div ng-switch-when="audio">
                                    <audio ng-src="{{ message.audio() }}" controls></audio>
                                </div>

                                <div ng-switch-when="movie">
                                    <video ng-src="{{ message.movie() }}" controls></video>
                                </div>

                                <div ng-switch-when="downloadable">
                                    <a href="{{ message.link() }}" target="_blank">File sent</a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>


                <!-- INPUT -->
                <textarea name="chat-input" id="chat-input" class="materialize-textarea"
                          ng-model="chat.current_typed_message"></textarea>
                <br/>
                <button id="submit-message-button" class="btn waves-effect waves-light" ng-click="chat.onMessageSend()">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
                <button id="upload-button" class="btn waves-effect waves-light" ng-click="chat.onUploadFile()">
                    Upload
                    <i class="material-icons right">send</i>
                </button>

                <input id="file-input-button" type="file" style="display: none;" />
            </div>

            <div id="userbox">
                <label for="username">My user:</label> <br/>
                <input type="text" id="username" />
                <br/>
                <input type="password" id="password" />
                <br/>

                <button id="submit-user-button" class="btn waves-effect waves-light">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Add new contact</h4>

                    <div id="otheruserbox">
                        <label for="other-username">Other user:</label> <br/>
                        <input type="text" id="other-username" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="submit-other-user-button" href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">
                        Add
                    </a>
                </div>
            </div>

        </div>
    </div>


</main>


<script src="qrc:/ui/js/3rdparty/angular/angular.min.js"></script>
<script src="qrc:/ui/js/dist/app.js"></script>

</body>
</html>
